<h1>Editing stylesheet</h1>

<%= form_for(@stylesheet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :created_of %><br />
    <%= f.text_field :created_of %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :css %><br />
    <%= f.text_area :css, :size => "80x22" %>
  </p>
  <p>
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </p>
  <p>
    <%= f.label :created_on %><br />
    <%= f.datetime_select :created_on %>
  </p>
  <p>
    <%= f.label :updated_on %><br />
    <%= f.datetime_select :updated_on %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @stylesheet %> |
<%= link_to 'Back', stylesheets_path %>
