<p>
  <b>Created of:</b>
  <%=h @stylesheet.created_of %>
</p>

<p>
  <b>Name:</b>
  <%=h @stylesheet.name %>
</p>

<p>
  <b>Css:</b>
  <%=h @stylesheet.css %>
</p>

<p>
  <b>Owner:</b>
  <%=h @stylesheet.owner %>
</p>

<p>
  <b>Created on:</b>
  <%=h @stylesheet.created_on %>
</p>

<p>
  <b>Updated on:</b>
  <%=h @stylesheet.updated_on %>
</p>


<%= link_to 'Edit', edit_stylesheet_path(@stylesheet) %> |
<%= link_to 'Back', stylesheets_path %>
