<%= error_messages_for 'article_member' %>

<!--[form:article_member]-->
<p><label for="article_member_created_of">Created of</label><br/>
<%= text_field 'article_member', 'created_of'  %></p>

<p><label for="article_member_created_on">Created on</label><br/>
</p>

<p><label for="article_member_updated_of">Updated of</label><br/>
<%= text_field 'article_member', 'updated_of'  %></p>

<p><label for="article_member_updated_on">Updated on</label><br/>
</p>

<p><label for="article_member_description">Description</label><br/>
<%= text_field 'article_member', 'description'  %></p>

<p><label for="article_member_expires_date">Expires date</label><br/>
<%= datetime_select 'article_member', 'expires_date'  %></p>

<p><label for="article_member_suspend">Suspend</label><br/>
<%= datetime_select 'article_member', 'suspend'  %></p>
<!--[eoform:article_member]-->

