<%= error_messages_for 'article' %>

    <% if autorized_to_article?(@article.id)|| @new_article -%>
    <%# if member_of_role?(@article2.owner)|| @new_article -%>

    <%# @article2 = Article.find('10513') %>

      <div class="input-group">
      <label>Velg bekledning. (Hvis du er usikker, s&aring; la det v&aelig;re som det er)</label>
      <%= select(:article, :cloth, @cloth, :class => "form-control") %>
    </div>

    <% end -%>
    <%#= observe_field(:article_cloth,
      #:frequency => 0.5,
      #:update    => :syntaxmenue,
      #:url       => { :action => :clothsyntaxmenue }) -%>

    <!--[form:article]-->

  <div class="infoboks">
    <%
    # Information of creator, updator and times
    #--------------------------------------------
    if @creator || @updater -%>
      <p><label for="article_created_of: ">Created by: </label>
        <%= @creator %>

        <br/>
        <label for="article_created_on">Timestamp: </label>
        <%= @article.created_on %>

  <div class="panel panel-primary">
    <div class="panel-heading">Revision table</div>

      <table id="versjontable" class="table table-striped">
        <tr><th>Rev:</th><th>Timestamp</th><th>Edited by:</th><th>Revert</th></tr>

        <% 
        # Article.versioned_class.find(:all,
        #   :conditions => ["article_id = '#{@article2.id}'"]).collect do |version|
        #   if version.updated_of > 0
        #     #         if Noruser.find(version.updated_of)
        #     begin
        #       user = Noruser.find(version.updated_of)
        #       login = user.login
        #       #         else
        #     rescue
        #       login = "Antagelig oppdatert i gammel NOR"
        #     end
        #   else
        #     login = "Ikke oppdatert"
        #   end 
          -%>

          <tr <%# if @article.version == version.version -%> id="aktivversjon" <%# end -%> >
            <td><%#= version.version -%> </td>
            <td><%#= version.updated_on -%> </td>
            <td><%#= login -%> <%#= version.updated_of %> </td>
            <td><%#= link_to 'Rediger', :action => 'edit', :id => @article2.id, :versjon => version.version -%>
          </tr>

          <% 
            versjoner = @article.versions.length
            versjon = versjoner - 1
            forrige = @article.previous_version
            while versjon >= 0 && versjoner != nil
               v = @article.versions[versjon]
          -%>

              <tr <% if @article.version == v.index -%> id="aktivversjon" <% end -%> >
                <td><%= v.id -%> </td>
                <td><%= v.created_at -%> </td>
                <td><%= v.whodunnit -%> </td>
                <td><%= link_to 'Revert', {:action => 'edit', :id => @article.id, :versjon => v.created_at}, :class => "btn btn-small btn-primary" -%>
  </td>
              </tr>
            <% versjon = versjon - 1 
            end -%>
      </table>
    </div>

    <% end
    # END
    #------
    %>


    <% if autorized_to_article?(@article.id)|| @new_article -%>
    <%# if member_of_role?(@article2.owner)|| @new_article -%>


      <!--p><label for="article_created_on"> Created </label><br/>
        <%= datetime_select 'article', 'created_on'  %></p-->

      <div class="form-group">
        <label>Timestamp</label>
        <%= datetime_select 'article', 'created_on', :class => "form-control" %>
      </div>

      <div class="form-group">
        <label for="article_source">Source</label>
        <%= text_field 'article', 'source', :class => "form-control"  %>
      </div>

    <%#= text_field_with_auto_complete 'article', 'source', :autocomplete => "off" %></p>
    <%#= text_field_with_auto_complete :article, :source, :autocomplete => "off" %>

      <div class="form-group">
        <label for="article_headline">Headline</label>
        <%= text_field 'article', 'headline', :class => "form-control" %>
      </div>


      <div class="form-group">
        <label for="article_url">Url</label>
        <%= text_field 'article', 'url', :class => "form-control" %>
      </div>

      <br/>

      <div class="form-group">
        <%= link_to "Legg til bilde / vedlegg", { :controller => "images", :action => "new" }, :popup => ['new_window', 'height=750,width=1000,scrollbars=yes'], :class => "btn btn-primary" %>
      </div>
      <br/>

    <div class="form-group">
      <label for="article_ingress">Ingress</label>

        <script type="text/javascript" >
          $(document).ready(function() {
            <%#*$("#ingress").markItUp(setingress);%>
            $("#ingress").markItUp(mySettings);
          });
        </script>

    <%#= text_area 'article', 'ingress', :rows=>7, :cols=>85 %></p>

      <%= text_area 'article', 'ingress', :id=>"ingress", :rows=>15, :cols=>85, :class => "form-control" %></p>
    </div>

    <script type="text/javascript" >
      $(document).ready(function() {
        $("#story").markItUp(mySettings);
      });
    </script>

    <div class="form-group">
      <label for="article_story_text">Story text</label><br/>
      <%= text_area 'article', 'story_text', :id=>"story", :rows=>25, :cols=>85, :class => "form-control" %>
    </div>




    </div>

    


    <!--
            <p><label for="article_expires_date">Expires date</label><br/>
    <%= datetime_select 'article', 'expires_date'  %></p>

            <p><label for="article_suspend">Suspend</label><br/>
    <%= datetime_select 'article', 'suspend'  %></p>
    -->

    <div class="infoboks panel panel-danger">
      <div class="panel-heading">
        <%=norsk2html("Ikke gjør noe i denne boksen, med mindre du veit hvorfor") %>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="pri">Prioritet</label>
          <%= text_field 'article', 'pri'  %>
        </div>
        <div class="form-group">
          <label for="un_published">Avpubliser</label>
          <%= check_box 'article', 'un_published' %></p>
        </div>
        <div class="form-group">
          <label for="hide_headline"><%= norsk2html("Skjul overskriften") %></label>
          <% if @hide_headline == 1  -%>
            <input checked id="hide_headline" name="hide[headline]" value="1" type="checkbox">
          <% else -%>
            <input id="hide_headline" name="hide[headline]" value="1" type="checkbox">
          <% end -%>
        </div>
        <div class="form-group">
          <label for="hide_source"><%= norsk2html("Skjul kilden") %></label>
          <% if @hide_source == 1 -%>
            <input checked id="hide_source" name="hide[source]" value="1" type="checkbox">
          <% else -%>
            <input id="hide_source" name="hide[source]" value="1" type="checkbox">
          <% end -%>
        </div>
        <div class="form-group">
          <label for="hide_ingress"><%= norsk2html("Skjul ingressen") %></label>
          <% if @hide_ingress == 1 -%>
            <input checked id="hide_ingress" name="hide[ingress]" value="1" type="checkbox">
          <% else -%>
            <input id="hide_ingress" name="hide[ingress]" value="1" type="checkbox">
          <% end -%>
        </div>
        <div class="form-group">
          <label for="hide_storytext"><%= norsk2html("Skjul hoveddelen av teksten") %></label>
          <% if @hide_story_text == 1 -%>
            <input checked id="hide_storytext" name="hide[storytext]" value="1" type="checkbox">
          <% else -%>
            <input id="hide_storytext" name="hide[storytext]" value="1" type="checkbox">
          <% end -%>
        </div>
        <div class="form-group">
          <label for="hide_dato"><%= norsk2html("Skjul dato") %></label>
          <% if @hide_dato == 1 -%>
            <input checked id="hide_dato" name="hide[dato]" value="1" type="checkbox">
          <% else -%>
            <input id="hide_dato" name="hide[dato]" value="1" type="checkbox">
          <% end -%>
        </div>
      </div>
    </div>
    <br/>
    <!--    #########################################################        -->

    <br/>
    <% #----------------------------------------------------------------------
    # Themes
    #----------------------------------------------------------------------
    %>



    <div class="infoboks panel panel-primary">

      <div class="panel-heading">Temasider</div>

      <div class="panel-body">
        <div class="form-group">
          <label for="autogroup_name" >Tema</label>
          <%= text_field 'autogroup', 'name', :class => "form-control" %>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <p><i><%= norsk2html(%{Sentrale temaer og temaer denne siden er med i fra før:}) %></i></p>
            <% for @group in @groups3
              vist = []
            %>

            <% @article.article_groups.each {|x|
              if (x.group_id == @group.group_id)
              vist << x.group_id
            %>

            <strong id="checkedgroup"><span class="nobreak"><input checked id="group_<%= @group.group.id %>_id" name="group[<%= @group.group.id %>]" value="<%= @group.group.id %>" type="checkbox">&nbsp;<acronyme title=" <%= h(@group.group.description) %> "><%= @group.name %></acronyme>
            </strong>
          <% end %>

          <% } %>
          <% if @sentral_group.include?(@group.group.id) &! vist.include?(@group.group.id)-%>
            <strong id="sentralgroup"><span class="nobreak"><input id="group_<%= @group.group.id %>_id" name="group[<%= @group.group.id %>]" value="<%= @group.group.id %>" type="checkbox">&nbsp;<acronyme title=" <%= h(@group.group.description) %> "><%= @group.name %></acronyme></strong>
          <% end %>

          <% end %>

          <strong>
          <%= link_to "Vis flere temaer", "/articles/temaboksen/#{@article.id}",
            #        :url_for(:action => "temaboksen", :id => "13994"),
          :remote => true
          # link_to"Vis flere temaer", :update => 'temaboksen', :remote => true
          #:url => { :action => "temaboksen", :id => @article.id},
          #link_to"Vis flere temaer", :update => 'temaboksen',
          #  :url => { :action => "temaboksen", :id => @article.id}
          #:url => { :action => "temaboksen", :group => @group, :group2 => @group2, :group3 => @groups3, :article2 => @article }
          %>
          </strong>
          </li>
        </ul>
      </div>

    <% else -%>

      <% ########################################################################################
      # IKKE AUTORISERT TIL Å REDIGERE                                                       #
      ########################################################################################
      -%>

      <% @article.article_groups.each {|x|
        if (Group.laggroup?(x.group_id) && !autorized_to_group?(x.group_id)) || !Group.laggroup?(x.group_id)
        %>
          <span class="nobreak"><input id="group_<%= x.group_id %>_id" name="group[<%= x.group_id %>]" value="<%= x.group_id %>" type="hidden">
          <% end } %>

        <p><label for="article_source">Source</label><br/>
          <%= @article.source  %>

        </p>

        <p><label for="article_headline">Headline</label><br/>
          <%= @article.headline  %></p>

        <p><label for="article_url">Url</label><br/>
          <%= @article.url  %></p>

        <p><label for="article_ingress">Ingress</label><br/>
          <%= text2html(@article.ingress) %></p>

        <p><label for="article_story_text">Story text</label><br/>
          <%= text2html(@article.story_text) %></p>

        <p><label for="article_picture">Picture</label><br/>
          <%= @article.picture  %></p>

        <!--
              <p><label for="article_expires_date">Expires date</label><br/>
        <%= @article.expires_date  %></p>

              <p><label for="article_suspend">Suspend</label><br/>
        <%= @article.suspend  %></p>
        -->
        <p><label for="article_pri">Priority</label><br/>
          <%= @article.pri  %></p>

        <p> Owner: <%= @article.owner %> </p>
      <% end %>

  </div>
  <%= #----------------------------------------------------------------------
  # Lag
  #----------------------------------------------------------------------
  %>
  <div class="infoboks panel panel-default">
    <div class="panel-heading">Lag</div>
    <div class="panel-body">
      <i><%= norsk2html(%{Du må krysse av minst ett kryss her. De fleste har kun en mulighet her, husk og kryss av der!}) %></i>
    </div>

    <div class="form-group">
      <% for @lag in @lags %>
        <% treff = 0 %>
        <% if @article.article_groups.each {|x|
            if (x.group_id == @lag.group_id) %>
              <input checked id="group_<%= @lag.group.id %>_id" name="group[<%= @lag.group.id %>]" value="<%= @lag.group.id %>" type="checkbox">&nbsp;<%= @lag.name %>

                <% treff = 1 %>
          <% end %>
          <% } %>
        <% end %>
        <% if treff == 0 %>

          <% if @husk && @used_groups && @used_groups.include?("#{@lag.group.id}")-%>
            <input checked id="group_<%= @lag.group.id %>_id" name="group[<%= @lag.group.id %>]" value="<%= @lag.group.id %>" type="checkbox">&nbsp;<%= @lag.name %>

          <% elsif @used_groups && @used_groups.include?("#{@lag.group.id}")-%>
            <input id="group_<%= @lag.group.id %>_id" name="group[<%= @lag.group.id %>]" value="<%= @lag.group.id %>" type="checkbox">&nbsp;<%= @lag.name %>

          <% elsif @sentral_group.include?(@lag.group.id)-%>
              <input id="group_<%= @lag.group.id %>_id" name="group[<%= @lag.group.id %>]" value="<%= @lag.group.id %>" type="checkbox">&nbsp;<%= @lag.name %>

          <% else %>
            <input id="group_<%= @lag.group.id %>_id" name="group[<%= @lag.group.id %>]" value="<%= @lag.group.id %>" type="checkbox">&nbsp;<%= @lag.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <!--div class="panel-heading">Generelt</div-->
    <div class="panel-body">
      <div class="form-group">
        <label for="husk">Husk avkrysninger</label>
        <% if @husk -%>
          <input checked id="husk" name="husk" value="1" type="checkbox">
        <% else -%>
          <input id="husk" name="husk" value="1" type="checkbox">
        <% end -%>
      </div>
    </div>
  </div>


  <% if autorized_to_article?(@article.id) -%>
    <%# if member_of_role?(@article.owner) -%>
    <div class="panel panel-primary">
      <div class="panel-heading">Eier</div>
      <div class="panel-body">
        <div class="form-group">
          <label for="article_owner">
            <%= norsk2html(%{Eier av artikkelen. NB: her må det ikke stå "User"!}) %>
            <%= select(:article, :owner, @roles) %>
          </label>
        </div>
      </div>
    </div>
  <% end -%>
