
<div class="page-header">
	<h1>Listing articles</h1>
</div>

<table class="table table-striped">
  <tr>


  <% for column in Article.content_columns %>
  <% if @not_show.include?(column.human_name)
       next
     end %>
    <th><%= link_to @colnames[column.human_name], { :action => "list", :sort => column.name, :order => @order, :page => params[:page] } %>
        <%#= link_to column.human_name, { :action => "list", :sort => column.name, :order => @order, :page => params[:page] } %>
       <% if column.name == @sort -%>
          <% if @order == "desc" -%>
             <i class="fa fa-sort-alpha-desc"></i>
          <% else -%>
             <i class="fa fa-sort-alpha-asc"></i>
          <% end %>
       <% end %>
  <% end %>
    </th>
  <th></th><th></th><th></th><th></th>
  </tr>

  <% nr = "1" -%>
<% for article in @articles %>
  <tr class="articleslistetr<%= nr -%>">
    <% if nr == "1"
        nr = "0"
       else
        nr = "1"
       end -%>
  <% for column in Article.content_columns %>

  <%
     if @not_show.include?(column.human_name)
       next
     end

    if ((column.human_name == "Created of" || column.human_name == "Updated of") && article.send(column.name) != 0)
    begin
     user = Noruser.find(article.send(column.name))
     name = user["login"]
      raise "Kunne ikke finne bruker" if !user
    rescue
      if !user
        name = "ingen"
      else
        name = current_user.login
      end
      flash[:error] = "Kunne ikke finne bruker med id: #{article.send(column.name)}"
    end




  %>
   <td>
    <%=h (name) %></td>
  <% else -%>

    <td>

    <% if column.name == "created_on" || column.name == "updated_on"  -%>
       <%# column.name == column.name -%>
       <%=h article.send(column.name).strftime("%d.%m.%Y kl. %I:%M") %></td>
    <% else -%>
      <%=h article.send(column.name) %></td>
    <% end -%>



  <% end %>
  <% end %>

    <td><%= link_to 'Show', {:action => 'view', :id => article}, :class => "btn btn-primary" %></td>
    <td><%= link_to 'Edit', {:action => 'edit', :id => article}, :class => "btn btn-primary" %></td>

  <% if autorized_to_article?(article.id) -%>
        <% if (article.un_published == 1) %>
   <td><%= button_to 'Publish', {:action => 'publish', :id => article}, :class => "btn btn-success" %></td>

        <% else %>
   <td><%= button_to 'Un-publish', {:action => 'un_publish', :id => article}, :class => "btn btn-warning" %></td>
         <% end %>
   <td><%= button_to 'Destroy', {:action => 'destroy', :id => article}, :confirm => 'Are you sure?', :class => "btn btn-danger" %></td>
   <% end -%>
  </tr>
<% end %>
</table>

<%= will_paginate renderer: BootstrapPagination::Rails %>

<br />

<%= link_to 'New article', {:action => 'new'}, :class => 'btn btn-primary' %>
