  <p><i><%= norsk2html(%{Du må krysse av minst ett kryss her, for at siden skal komme fram (typisk "Forsiden").
      Røde temaer er sentrale temaer. Grønne er temaer som er krysset av fra før, gule er temaer du krysset av sist gang}) %>
  </i></p>
  
  <% for @group in @groups3 %>
  <% treff = 0 %>
  
  
  <% if treff == 0 %>
  
  <% if @husk && @used_groups && @used_groups.include?("#{@group.group.id}")-%>
  <strong id="oftenusedgroup"><span class="nobreak"><input checked="checked" id="group_<%= @group.group.id %>_id" name="group[<%= @group.group.id %>]" value="<%= @group.group.id %>" type="checkbox">&nbsp;<acronyme title=" <%= h(@group.group.description) %> "><%= @group.name %></acronyme></strong>
  
  <% elsif @used_groups && @used_groups.include?("#{@group.group.id}")-%>
  <strong id="oftenusedgroup"><span class="nobreak"><input id="group_<%= @group.group.id %>_id" name="group[<%= @group.group.id %>]" value="<%= @group.group.id %>" type="checkbox">&nbsp;<acronyme title=" <%= h(@group.group.description) %> "><%= @group.name %></acronyme></strong>
  
  <% elsif @sentral_group.include?(@group.group.id)-%>
  <strong id="sentralgroup"><span class="nobreak"><input id="group_<%= @group.group.id %>_id" name="group[<%= @group.group.id %>]" value="<%= @group.group.id %>" type="checkbox">&nbsp;<acronyme title=" <%= h(@group.group.description) %> "><%= @group.name %></acronyme></strong>
  
  
  
  <% else -%>
  <span class="nobreak"><input id="group_<%= @group.group.id %>_id" name="group[<%= @group.group.id %>]" value="<%= @group.group.id %>" type="checkbox">&nbsp;<acronyme title=" <%= h(@group.group.description) %> "><%= @group.name %></acronyme>
    <% end %>
    <% end %>
    |
  </span>
  
  <% end %>
