<h1>Listing roles</h1>

<table>
  <tr>
  <% for column in Role.content_columns %>
  <%
     if column.human_name == "Url" ||
        column.human_name == "Story text" ||
        column.human_name == "Suspend" ||
        column.human_name == "Ingress" ||
        column.human_name == "Picture"
       next 
     end 
   %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for role in @roles %>
  <tr>
  <% for column in Role.content_columns %>
  <%
     if column.human_name == "Url" ||
        column.human_name == "Story text" ||
        column.human_name == "Suspend" ||
        column.human_name == "Ingress" ||
        column.human_name == "Picture"
       next 
     end 
   %>

    <td><%=h role.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => role %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => role %></td>


  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />

<%= link_to 'New role', :action => 'new' %>
