<h1>Roller  </h1>

<%
   user = Noruser.find(session[:noruser])
   name = user.login

 -%>
<%= name %>
<table class="articlesliste">
  <tr>


  <% for column in Role.content_columns %>
  <%

if @not_show.include?(column.human_name)
       next
     end
   %>
    <th><%= link_to column.human_name, { :action => "list", :sort => column.name, :order => @order, :page => params[:page] } %>
       <% if column.name == @sort -%>
          <% if @order == "desc" -%>
             <
          <% else -%>
             ^
          <% end %>
       <% end %>
  <% end %>
    </th>
  </tr>

  <% nr = "1" -%>
<% for role in @roles %>
  <tr class="articleslistetr<%= nr -%>">
    <% if nr == "1"
        nr = "0"
       else
        nr = "1"
       end -%>
  <% for column in Role.content_columns %>

  <%
     if @not_show.include?(column.human_name)
       next
     end

    if ((column.human_name == "Created of" || column.human_name == "Updated of") && role.send(column.name) != 0)
    begin
     role = Role.find(role.send(column.name))
     name = role.login
      raise "Kunne ikke finne bruker" if !role
    rescue
      if !role
        name = "ingen"
      else
        name = role.login
      end
      flash[:error] = "Kunne ikke finne bruker med id: #{role.send(column.name)}"
    end
  %>
   <td>
    <%=h (name) %></td>
  <% else -%>
    <td>
    <% if column.name == "created_on" || column.name == "updated_on" && role.send(column.name) != nil -%>
       <%=h role.send(column.name).strftime("%d.%m.%Y kl. %I:%M") %>
    <% else -%>
      <%=h role.send(column.name) %>
    <% end -%>
    </td>


  <% end %>
  <% end %>

    <td><%= link_to 'Show', :action => 'show', :id => role %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => role %></td>


   <td><%= button_to 'Destroy', {:action => 'destroy', :id => role}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />



<%= link_to 'New role', :action => 'new' %>
