<h1>Redigerer bruker</h1>

<%= form_tag :action => 'userupdate', :id => @user do %>
    <%= render :partial => 'userform' %>
  <br/>
  <%= submit_tag 'Lagre' %>
<% end %>


<%= form_tag :action => 'usernyttpass', :id => @user do %>
  <p><label for="user_passwd">Nytt passord for bruker</label><br/>
  <%#= text_field 'user', 'password'  %></p>
  <%= password_field :user, :password %>	

  <br/>
  <%= submit_tag 'Sett passord' %>
  <br/>
<% end -%>
<%= link_to 'Tilbake', :action => 'userlist' %>
