<% # coding: UTF-8 %>
<div id="temaside">

<%# if @description -%>
<%#= text2html(@description, "r") %>
<%# end -%>
<%#= link_if_authorized_to?"Edit group", :controller => "groups", :action => "edit", :id => @groupid %>

  <% for article in @articles %>
    <div class="tema-artikkel">
      <% if article.source -%>
        <p class="a-kilde"><%= article.source.html_safe %></p>
      <% end %>
      <a name="<%= text2a_name(article.headline).html_safe  %>"></a>
      <h2><%= article.headline.html_safe %></h2>
      <div class="a-ingress"><%= raw text2html(article.ingress, article.cloth, "temaside", article.id, article.url)  %></div>
      <p class="a-pekere"><%= render(:partial => '/start/links', :object => article) %></p>
      <p class="a-dato"><%= article.created_on.strftime("%d.%m.%Y") %></p>
    </div>
  <% end %>
  <%= will_paginate @articles %>
</div>

