<% for article in @articles %>

  <!--h1> <%= article.headline %> </h1>
  <p>  <%= text2html(article.ingress, article.cloth) %> </p>
  <p>
  <%= render(:partial => '/start/links', :object => article) %>
  </p-->

<div class="col-lg-12">
  <div class="media">
    <div class="media-left">
      <%= article.picture %>
    </div>
    <div class="media-body">
      <h4 class"media-heading"><%= article.headline %></h4>
      <%= text2html(article.ingress, article.cloth) %>
    </div>
  </div>
</div>

<% end %>
<% if @no_paginating != 1 %>
<%= link_to 'Previous page', { :page => @article_pages.current.previous } if @article_pages.current.previous %>
<%= pagination_links(@article_pages) %>
<%= link_to 'Next page', { :page => @article_pages.current.next } if
@article_pages.current.next %>
<% end %>
