
<%= form_tag :action => 'search_result', :id => @article %>
  <%#= render :partial => 'form' %>
  <%#= text_field 'article', 'tekst'  %>

  <input id="tekst" name="tekst" size="30" type="text" />

 </p>
  <%= submit_tag 'Search' %>
<%= form_tag %>

<%= link_to 'Show', :action => 'show', :id => @article %> |
<%= link_to 'Back', :action => 'list' %>

