<div id="temaoversikt">
<h1>Temasider</h1>


<a href="#tall">Tall og tegn</a><br/>
<% for group in @groups %>
  <% if group.name =~ /^([A-Za-z])/ && (!defined?(@nchar) || @nchar != $1.strip.upcase) -%>
    <% @nchar = $1 -%>
    <a href="#<%= $1.upcase %>"><%= $1.upcase %></a>
  <% end -%>
<% end -%>

<br/>

<% for group in @groups %>

  <% if group.name =~ /^\d|^\W/ && group.name =~ /^[^æøåÆØÅ]/ -%>
    <% if !defined?(@noword) -%>
      <a name="tall"></a><h2>Tall og tegn</h2>
      <% @noword = 1 -%>       
    <% end -%>


  <% elsif group.name =~ /^(\w)/ -%>
    <% char = $1 -%>
    <% if !defined?(@char) || @char != char.strip.upcase -%>
      <% @char = char.strip.upcase -%>
      <a name="<%= @char %>"></a>
      <h2> <%= @char %> </h2> 
    <% end -%>
    
  <% end %>
<span class="nobreak">
  <% unless group.name =~ /Teknisk/ %>
   <a href="/<%= @lag_name %>/<%= group.group_id %>"><%= group.name %></a> | </span>
  <%end%>
<% end %>

</div>