<h1>Send pressemelding!</h1>

  <%= form_tag({:action => 'bekreft'}, :multipart => true) %>

<table>
  <tr>    
    <td>
      <p><label for="presse_fra">Fra adresse </label><br/>
      <%= text_field 'presse', 'fra' %>
      <input type="hidden" id="presse_ymlfil" name="presse[ymlfil]" value="<%=@ymlfil%>" />

    </td>
    <td>
      <p><label for="presse_temafelt">Temafelt (Subject) <b>NB!</b> Ikke bruk "æ", "ø" eller "å" i dette feltet!</label><br/>
      <%= text_field 'presse', 'temafelt'  %>
    </td>
  </tr>
  <tr>
    <td>
      <p><label for="presse_adresser">E-post adresser</label><br/>
      <%= text_area 'presse', 'adresser', :rows=>22, :cols=>37 %></p>
    </td>
    
    <td>
      <p><label for="presse_melding">Tekst i pressemeldingen</label><br/>
      <textarea cols="70" id="presse_melding" name="presse[melding]" rows="22" wrap="hard"></textarea>
      </p>
    </td>
    
  </tr>  
</table>
<%#= render :partial => 'form' %>


<%= submit_tag "Lagre" %>
<%= form_tag %>



