<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="no" lang="no">
  <head>
    <meta name="viewport" content="width=device-width" />
    <!-- to correct the unsightly Flash of Unstyled Content. http://www.bluerobot.com/web/css/fouc.asp -->
<%# = javascript_include_tag :prototype %>
<%#= javascript_include_tag "prototype", "application" %>

  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>

    <%- unless @content_submission.nil? -%>
      <%#= javascript_include_tag "jquery-1.3.2.min.js" %>
      <%#= javascript_include_tag "jquery.min.js" %>

      <%#= javascript_include_tag "markitup/jquery.markitup" %>
      <%#= javascript_include_tag "markitup/sets/textile/set" %>
      <%#= javascript_include_tag "markitup/sets/default/set" %>
      <%#= csrf_meta_tag %>

<!--       <link rel="stylesheet" type="text/css" href="/javascripts/markitup/skins/markitup/style.css" />
      <link rel="stylesheet" type="text/css" href="/javascripts/markitup/sets/textile/style.css" />
 -->    <%- end -%>

<!--     <% if @kalendercss %>
      <%= calendar_date_select_includes "red" %>
    <% end %>
    <script type='text/javascript'>
      //<![CDATA[
      _translations = {
        "OK": "OK",
        "Now": "Nå",
        "Today": "I dag"
      }

      Date.weekdays = $w("Ma Ti O To Fr Lø Sø");
      Date.first_day_of_week = 1;
      Date.months = $w("Januar Februar Mars April Mai Juni Juli August September Oktober November Desember" );
      //]]>
    </script>
 -->    <title>
      <% if @groupname -%> <%= @groupname %> - <% end -%>
      <% if @article -%> <%= @article.headline %> - <% end -%>
      <%= @organization %>
      <% if @lag_name -%> <%= @lag_name %> <% end -%>
      <%= @motto %>
    </title>


    <%= raw @htmlmeta %>

    <style type="text/css" media="all">
<%#           import url(path_to_stylesheet "1"); %>
    </style>

    <%#= stylesheet_link_tag '1', :media => 'all' %>
    <% if @nor_stylesheet %>
      <% @nor_stylesheet.each{|x| -%>
        <% if x.id == 1
          next
        end %>
        <%= stylesheet_link_tag "#{x.id}", :media => 'all' %>
      <% } -%>
    <% elsif @adm_stylesheet %>
      <%= stylesheet_link_tag '3', :media => 'all' %>
    <% end %>
    <% if @cssblokk %>
      <style type="text/css">
  <%= @cssblokk %>
      </style>
    <% end %>

<%#= active_scaffold_includes %>

    <link rel="alternate" type="application/rss+xml" title="<%= @domene %>  RSS Feed" href="http://<%= @domene %>/Sentralt.rss" />

  </head>
  <body>

    <div id="innhold">

      <div id="banner">
        <div id="banner-logo">
          &nbsp;<a href="/"><span>Forside</span></a>
        </div>

        <div id="banner-bilde">
          &nbsp;
        </div>
        &nbsp;
      </div>

      <div id="toppmeny">
        <div id="navigasjon-sok">
          <form action="http://www.google.no/cse" id="cse-search-box-1">
            <div>
              <input type="hidden" name="cx"
                     value="<%=@googlesok%>" />
              <input type="hidden" name="ie" value="UTF-8" />
              <input title="navigasjonssok-text" type="text" name="q" size="<%=@googlesok_str1%>" />
              <input type="submit" name="sa" value="S&#248;k" />
            </div>
          </form>
          </div>
<!--          <script type="text/javascript"
          src="http://www.google.no/cse/brand?form=cse-search-box&amp;lang=no"></script>
        
-->
<%# SØK MED ULTRASPENIX:%>
<%# form_tag :controller => 'start', :action => 'search_result', :id => @article do %>
<%#*<div id="navigasjon-sok">%>
<%#*<input class="tekst" name="tekst" size="10" type="text" />%>
<%#*<input name="commit" value="S&oslash;k" type="submit" />%>
<%#= submit_tag "Finn" %>
<%#*</div>%>
<%# end %>
        <div style="display:none"><a href="#meny">G&aring; til meny</a>
        </div>

<%#= render_component(:controller => "start", :action => "topplinker", :params => { :temaid => @temaid, :lagid => @lagid, }) %>
<%# Erstatning for render_component: %>
        <% nr = 0 -%>
        <%
        if !@lagid
          if session[:lagid]
            @lagid = session[:lagid]
          else
            @lagid = 8
          end
        end
        @temaid = 5 unless defined?(@temaid)
      %>
        <% topplinker = Start.topplinker(@temaid, @lagid) %>
        <% for article in topplinker %>
          <% nr = nr + 1 -%>
          <%= raw text2html(article.ingress, article.cloth) %>
          <% if defined?(session[:noruser]) -%>
            <%if authorized_to?(:controller => 'articles', :action => 'edit')
              linkon = 1  %>
              <span class="editmeny">
                <%= link_to "Edit", :controller => 'articles', :action => 'edit', :id => article.id %>
              </span>
            <% end %>
          <% end -%>
        <% end %>




      </div>
      <div id="navigasjon">
        <%= @domenelink -%>

        <% if @lag_name  # Start controller, lag method %>
          > <a href="/<%= @lag_name %>"><%= @lag_name %></a>
        <% end %>

        <% if @group_name %>
          > <a href="/<%= @lag_name %>/<%= @groupid %>"><%= @groupname %></a>
        <% end %>

        <% if @page -%> > Side <%= @page %> <% end %>

        <% if @article -%> > <%= @article.headline %> <% end -%>
        <% if (session[:noruser]) %>
          Du er logget inn som <i><%= Noruser.find(session[:noruser]).login %></i>
        <% end -%>

        <span id="link-rss"> <%= link_to "RSS", "/#{@lag_name}/#{@temaid}.rss" if defined?(@temaid) && defined?(@lag_name)%></span>

      </div>


      <div id="hovedinnhold">
        <div id="main">
          <% if flash[:notice] || flash[:warning] || flash[:error] -%>
            <div class="error">
              <p class="green"><%= flash[:notice] %></p>
              <p class="blue"><%= flash[:warning] %></p>
              <p class="red"><%= flash[:error] %></p>
            </div>
          <% end -%>

          <% if @right_column == 1 %>
            <div id="right_column_bunn">
              <% if @temaid && @temaid == "10" -%>
    <%#= render_component(:controller => "start", :action => "right_column", :params => { :temaid => @temaid, :lagid => @lagid, }) %>
              <% elsif @description -%>
                <%= raw text2html(@description, "r") %>
              <% end -%>
            </div>
          <% end %>
          <%= yield %>


          <%= @content_for_layout %>
        </div>

        <% if @right_column == 1 %>
          <div id="right_column">
            <div id="right_column_innhold">
  <%#= render_component(:controller => "start", :action => "advertisement") %>
              <%  article = Article.find(1) %>
              <div class="tema-artikkel">
                <% if article.source -%>
                  <p class="a-kilde"><%= raw article.source %></p>
                <% end %>
                <a name="<%= raw text2a_name(article.headline) %>"></a>
                <h2><%= raw article.headline %></h2>
                <div class="a-ingress"><%= raw text2html(article.ingress, article.cloth, "temaside", article.id, article.url) %></div>
                <p class="a-pekere"><%= render(:partial => '/start/links', :object => article) %></p>
                <p class="a-dato"><%= article.created_on.strftime("%d.%m.%Y") %></p>
              </div>

            </div>
          </div>
        </div>

      <% end %>

      <div id="columns">
        <div id="side">
          <a name="meny"></a>
          <div class="vmeny" id="vmeny0">
            <ul>
              <li class="first">    <a href="/">Sentral forside</a>
              </li>



              <% if authorized_to?(:controller => 'groups', :action => 'home') %>
                <li>    <%= link_to "Hjem", :controller => "groups", :action => "home" %>
                </li>

              <% end %>

              <% if logged_in? -%>
                <li>      <%= link_to "Logg ut", :controller => "account", :action => "logout" %>
                </li>
              <% else %>
                <li>      <%= link_to 'Logg inn', :controller => 'account', :action => 'login' %>
                </li>
              <% end %>

              <% if authorized_to?(:controller => 'lister', :action => 'list')  %>
                <li>    <%= link_to "E-post lister", :controller => "lister", :action => "list" %>
                </li>    <% end %>


              <% if authorized_to?(:controller => 'articles', :action => 'list')  %>
                <li>    <%= link_to "Artikler", :controller => "articles", :action => "list" %>
                </li>    <% end %>


              <% if authorized_to?(:controller => 'articles', :action => 'new')  %>
                <li>    <%= link_to "Legg til artikkel", :controller => "articles", :action => "new" %>
                </li>
              <% end %>

              <% if authorized_to?(:controller => 'groups', :action => 'list')  %>
                <li>    <%= link_to "Stilark", :controller => "stylesheets" %>
                </li>
              <% end %>

              <% if authorized_to?(:controller => 'groups', :action => 'list')  %>
                <li>    <%= link_to "Grupper", :controller => "groups", :action => "list" %>
                </li>
              <% end %>

              <% if authorized_to?(:controller => 'groups', :action => 'new')  %>
                <li>    <%= link_to "Legg til gruppe", :controller => "groups", :action => "new" %>
                </li>
              <% end %>

              <% if authorized_to?(:controller => 'admin', :action => 'userlist')  %>
                <li>    <%= link_to "Brukerkontoer", :controller => "admin", :action => "userlist" %>
                </li>
              <% end %>

              <% if authorized_to?(:controller => 'presse', :action => 'index')  %>
                <li>    <%= link_to "Send pressemelding", :controller => "presse", :action => "index" %>
                </li>
              <% end %>

              <% if authorized_to?(:controller => 'admin', :action => 'list')  %>
                <li>    <%= link_to "Roller", :controller => "admin", :action => "list" %>
                </li>
              <% end %>

              <% if authorized_to?(:controller => 'role2group', :action => 'list')  %>
                <li>    <%= link_to "Roller til Grupper", :controller => "role2group", :action => "list" %>
                </li>
              <% end %>

              <% if authorized_to?(:controller => 'sendpost', :action => 'admin')  %>
                <li>    <%= link_to "E-post grupper", :controller => "sendpost", :action => "admin" %>
                </li>
              <% end %>


            </ul>




            <!-- ############################################################################################### -->
            <!-- SLUTT -->
            <!-- ############################################################################################### -->


          </div>

<%#= render_component(:controller => "start", :action => "venstre_meny", :params => { :temaid => @temaid, :lagid => @lagid, }) %>
<%# Til erstatning for render_component%>
          <% nr = 0 -%>
          <% venstremeny = Start.venstre_meny(@temaid, @lagid) %>
          <% for article in venstremeny %>
            <% nr = nr + 1 -%>

            <div class="vmeny" id="vmeny<%= nr %>">
              <%= raw text2html(article.ingress, article.cloth) %>

              <% if defined?(session[:noruser]) -%>
                <%if authorized_to?(:controller => 'articles', :action => 'edit')
                  linkon = 1  %>
                  <span class="editmeny">
                    <%= link_to "Edit", :controller => 'articles', :action => 'edit', :id => article.id %>
                  </span>
                <% end %>
              <% end -%>

            </div>
          <% end %>

<%# form_tag :controller => 'start', :action => 'search_result', :id => @article do %>
<%#*<p id="sok-bunn">%>
<%#*<input id="tekst" name="tekst" size="10" type="text" />%>
<%#*<input name="commit" value="S&oslash;k" type="submit" />%>
          <form action="http://www.google.no/cse" id="cse-search-box-2">
            <div id="sok-bunn">
              <div>
                <input type="hidden" name="cx"
                       value="<%=@googlesok%>" />
                <input type="hidden" name="ie" value="UTF-8" />
                <input title="sokbunn-text" type="text" name="q" size="<%=@googlesok_str2%>" />
                <input type="submit" name="sa" value="S&#248;k" />
              </div>
            </div>
          </form>
          <script type="text/javascript"
          src="http://www.google.no/cse/brand?form=cse-search-box&amp;lang=no"></script>

<%# end %>

        </div>
      </div>
      <div id="bunntekst">
<%#= render_component(:controller => "start", :action => "bunntekst", :params => { :temaid => @temaid, :lagid => @lagid, }) %>
        <% nr = 0 -%>
        <% bunntekst = Start.bunntekst(@temaid, @lagid) %>
        <% for article in bunntekst %>
          <% nr = nr + 1 -%>

          <div id="bunntekst<%= nr %>" class="bunntekstboks">
            <% testtekst = text2html(article.ingress, article.cloth) %>
            <%= raw testtekst %>

            <% if defined?(session[:noruser]) -%>
              <% if authorized_to?(:controller => 'articles', :action => 'edit')
                #  linkon = 1  %>
                <div class="editmeny">
                  <%= link_to "Edit", :controller => 'articles', :action => 'edit', :id => article.id %>
                </div>
              <% end  %>
            <% end -%>

          </div>
        <% end %>
        &nbsp;
      </div>
    </div>



    <div id="ekstradiv1">
      <span>
      </span>
    </div>
    <div id="ekstradiv2">
      <span>
      </span>
    </div>
    <div id="ekstradiv3">
      <span>
      </span>
    </div>

    <% # Google analystics:  %>


    <% if defined?(@googleanalytics) %>

      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("<%=@googleanalytics%>");
          pageTracker._trackPageview();
        } catch(err) {}</script>

    <% end %>
  </body>
</html>
