<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="no" lang="no">
  <head>
    <meta name="viewport" content="width=device-width" />

      <%= include_gon %>
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
      <%= javascript_include_tag "application" %>

      <%= csrf_meta_tags %>

      <title>
        <% if @groupname -%> <%= @groupname %> - <% end -%>
        <% if @article -%> <%= @article.headline %> - <% end -%>
        <%= @organization %>
        <%# if @lag_name -%> <%#= @lag_name %> <%# end -%>
        <%= @motto %>
      </title>

      <%= raw @htmlmeta %>

      <% if @nor_stylesheet %>
        <% @nor_stylesheet.each{|x| -%>
          <% if x.id == 1
            next
          end %>
          <%= stylesheet_link_tag "#{x.id}", :media => 'all' %>
        <% } -%>
      <% elsif @adm_stylesheet %>
        <%= stylesheet_link_tag '3', :media => 'all' %>
      <% end %>
      <% if @cssblokk %>
        <style type="text/css">
          <%= @cssblokk %>
        </style>
      <% end %>
      <%# end %>

        <link rel="alternate" type="application/rss+xml" title="<%= @domene %>  RSS Feed" href="http://<%= @domene %>/Sentralt.rss" />

    </head>
  <body>

    <%= render :partial => 'layouts/topmenu' %>

      <div id="innhold" class="container-fluid">

        <!--div id="banner"-->
        <div id="banner-logo">
          <a href="/">
            <div class="page-header">
              <h1>Tjen folket<small> &ndash; kommunistisk forbund</small></h1>
            </div>
          </a>
        </div>


        <div id="hovedinnhold">
          <div id="main">
            <% if flash[:notice] -%>
              <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
            <% elsif flash[:warning] -%>
              <div class="alert alert-warning" role="alert"><%= flash[:warning] %></div>
            <% elsif flash[:error] -%>
              <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
            <% end -%>

            <%= yield %>

            <%= @content_for_layout %>
          </div>
        </div>

      <%# end %>

      <div class="row">
        <div class="col-lg-12">
          <div id="bunntekst" class="panel panel-default">
            <div class="panel-body">
              <% nr = 0 -%>
              <%# bunntekst = Start.bunntekst(@temaid, @lagid) %>
              <%# for article in bunntekst %>
                <%# nr = nr + 1 -%>
                <div id="bunntekst<%#= nr %>" class="bunntekstboks">
                  <%# testtekst = text2html(article.ingress, article.cloth) %>
                  <%#= raw testtekst %>
                  <%# if defined?(session[:noruser]) -%>
                    <%# if authorized_to?(:controller => 'articles', :action => 'edit') %>
                      <div class="editmeny">
                        <%#= link_to "Edit", :controller => 'articles', :action => 'edit', :id => article.id %>
                      </div>
                    <%# end  %>
                  <%# end -%>
                </div>
              <%# end %>
            </div>
          </div>
        </div>
      </div>
    </div>



    <% # Google analystics:  %>

    <% if defined?(@googleanalytics) %>
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("<%=@googleanalytics%>");
          pageTracker._trackPageview();
        } catch(err) {}
      </script>
    <% end %>
  </body>
</html>

