<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="no">

<head>
  <title>
    <% if @groupname -%> <%= @groupname %> - <% end -%>
    <% if @article -%> <%= @article.headline %> - <% end -%>
    <%= @organization %>
    <% if @lag_name -%> <%= @lag_name %> <% end -%>
    <%= @motto %>
  </title>

<%= @htmlmeta %>

            <%#= stylesheet_link_tag 'scaffold'%>
            <%= stylesheet_link_tag @stilarkid.to_s, :media => 'all' %>


</head>
<body>

<div id="navigasjon-print">
</p>
</div>

 <div id="hovedinnhold">

   <% if flash[:notice] || flash[:warning] || flash[:error] -%>
    <div class="error">
     <p class="green"><%= flash[:notice] %></p>
     <p class="blue"><%= flash[:warning] %></p>
     <p class="red"><%= flash[:error] %></p>
    </div>
   <% end -%>



  <div id="main">
            <%= yield %>
    <%= @content_for_layout %>
  </div>

   <div id="bunntekst">
     
     <% page = "/" + request.path_parameters[:controller] + "/" + request.path_parameters[:action] + "/" + request.path_parameters[:id]%>
     <%# page = "Test" %>

     <p id="bunn-org"><%= @organization %>: <%= @motto %></p>
     <p id="bunn-url"> Denne artikkelen er skrevet ut fra: http://<%= @domene + page %></p>
   </div>

 <br clear="all" />
</div>
<script type="text/javascript" src="/rail_stat/tracker_js"></script>
<noscript>
  <img src="/rail_stat/track" width="1" height="1" alt="" style="position: absolute;" />
</noscript>
<div id="ekstradiv1">
<span>
</span>
</div>
<div id="ekstradiv2">
<span>
</span>
</div>
<div id="ekstradiv3">
<span>
</span>
</div>


</body></html>
