%h2 Meld inn konferanser
%p
  Oversikt over planlagte kurs finner du
  %a(title="Oversikt over kurs" href="/Sentralt-ressurser/view/13434") her

:textile
  <form action="/sendpost" method="post" name="sfp" id="sfp">
  <input name="epostg" value="populus" type="hidden">
  <input name="kvittering" value="true" type="hidden">
  <input name="001studieplan" value="Vi lærer på konferanse/08030" type="hidden">
  <table>
  <tr><td>Ved parallelle kurs: </td><td><input name="§0021-1-antall-parallelle-fra" size="2" type="text" value="1"> av <input name="§0021-2-antall-parallelle-til" size="2" type="text" value="1"></td>
  </tr><tr><td>Ca antall deltagere: </td><td><notextile><input name="§003-antall-deltagere" size="2" type="text", value="6"></notextile> (minimum 5 deltagere. Dersom færre, må dette begrunnes særskilt. Ta i tilfellet kontakt)</td>
  </tr><tr><td>Deltageravgift: </td><td><input name="§004-deltageravgift" size="6" type="text" value="0,-"></td>
  </tr>
  </table>

  <a name="lagsdrift"></a>

  h2. Kort beskrivelse av kurset (invitasjonstekst):

  notextile.. <table>
  </tr><tr><td class="td1">Sted:</td><td> <input name="§007-Sted" size="40" type="text"></td>
  </tr><tr><td class="td1">Kommune:</td><td> <input name="§008-Kommune" size="40" type="text"></td>
  </tr><tr><td class="td1">Fylke:</td><td> <input name="§009-Fylke" size="40" type="text"></td>
  </tr>
  </table>

  notextile.. <textarea name="§00500-kort beskrivelse" rows="4" cols="40">Bli med på kurs i ____.</textarea>

  h2. Lokallag:

  notextile.. <table>
  <tr><td class="td1">Lokallagets navn:</td><td> <input name="§005-Lokallag" size="40" type="text"></td>
  </tr><tr><td class="td1">Kontonummer:</td><td> <input name="§006-Kontonr" size="40" type="text"></td>
  </tr>
  </table>

  h2. Ansvarlig/ kontaktperson:

  notextile.. <table>
  <tr><td class="td1">Navn:</td><td> <input name="Navn" size="40" type="text"></td>
  </tr><tr><td class="td1">E-post:</td><td> <input name="§email" size="40" type="text"></td>
  </tr><tr><td class="td1">Tlf/mob:</td><td> <input name="§tlf" size="40" type="text"></td>
  </tr>
  </table>

  h2. Lærer:

  notextile.. <table>
  <tr><td class="td1">Fornavn:</td><td> <input name="§013-lærer-Fornavn" size="40" type="text"></td>
  </tr><tr><td class="td1">Etternavn:</td><td> <input name="§014-lærer-Etternavn" size="40" type="text"></td>
  </tr><tr><td class="td1">Adresse:</td><td> <input name="§015-lærer-Adresse" size="40" type="text"></td>
  </tr><tr><td class="td1">Postnummer:</td><td> <input name="§016-lærer-Post-01-nr" size="4" type="text"> Sted: <input name="§016-lærer-Post-02-sted" size="25" type="text"></td>
  </tr><tr><td class="td1">Mobiltelefon:</td><td> <input name="017-lærer-tlf" size="22" type="text"></td>
  </tr><tr><td class="td1">E-post:</td><td> <input name="018-lærer-email" size="40" type="text"></td>
  </tr>
  </table>

  h2. Tidrom:

  notextile.. <table>
  <tr><td class="td1"><b>Fra dato:</b></td><td><b>Til dato:</></td><td></tr><tr><td>

= calendar_date_select_tag "§019-efradato", nil, |
  :embedded => true, |
  :year_range => 20.years.ago..1.years.from_now, |
  :onchange => remote_function(:update => 'velgdag', |
  :url => '/kurs/dager', |
  :with => "'fra' + this.value") |

:textile
  </td><td>
= calendar_date_select_tag "§020-etildato", nil, |
  :embedded => true, |
  :year_range => 20.years.ago..1.years.from_now, |
  :onchange => remote_function(:update => 'velgdag', |
  :url => '/kurs/dager', |
  :with => "'til' + this.value") |



:textile
  </td>
  </tr>
  </table>

#velgdag
  = "datoer: #{@datoer} og " if defined?(@datoer)
  = "<b>NB! Velg dato!</b>" unless defined?(@datoer)



:textile

  p. Beskjed:<br/>
  <textarea name="021-beskjed" rows="2" cols="40"></textarea>

  p. <input name="Submit" value="send inn skjema" type="submit">
  <input name="subject" value="[SFP innmelding]" type="hidden">
  </form>

